/* background-color: #008B8B;  
background-color: #FCEAC7; */

.square{
  background-color:#FCEAC7;
  width: 70px;
  height:70px;
}



.main_container{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  height: 560px;
  width: 560px;
  border-radius: 5px;
  overflow: hidden;
}

.chess{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.files:nth-of-type(odd) .square:nth-of-type(even){
  background-color:#008B8B;
}

.files:nth-of-type(even) .square:nth-of-type(odd){
  background-color:#008B8B;
}

img{
  width: 100%;
}

.Brook{
  background-image: url('/public/images/pieces/black/rook.png');
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Wrook{
  background-image: url('/public/images/pieces/white/rook.png');
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Bpawn{
  background-image: url('/public/images/pieces/black/pawn.png');
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Wpawn{
  background-image: url('/public/images/pieces/white/pawn.png');
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Wknight{
  background-image: url("/public/images/pieces/white/knight.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Bknight{
  background-image: url("/public/images/pieces/black/knight.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Bbishop{
  background-image: url("/public/images/pieces/black/bishop.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Wbishop{
  background-image: url("/public/images/pieces/white/bishop.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Wking{
  background-image: url("/public/images/pieces/white/king.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}
.Bking{
  background-image: url("/public/images/pieces/black/king.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.Bqueen{
  background-image: url("/public/images/pieces/black/queen.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}



.Wqueen{
  background-image: url("/public/images/pieces/white/queen.png");
  background-size: cover;
  position: relative;
  width:100%;
  cursor: pointer;
}

.App{
  display: flex;
  justify-content: center;
}

#Sqclicked{
  background-color: yellow;
}

